.Webinars-header__ttl {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17; }
  @media only screen and (min-width: 1024px) {
    .Webinars-header__ttl {
      font-size: 48px; } }

.Webinars-header {
  background: url("../../../assets/pattern-webinars.svg") #3e8856 repeat;
  background-size: 400px 400px;
  padding: 90px 0;
  margin-bottom: 45px; }

.Webinars-header__cnt {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  color: #fff; }
  @media only screen and (min-width: 1024px) {
    .Webinars-header__cnt {
      max-width: 600px; } }

.Webinars-header__ttl {
  margin-bottom: 14px;
  color: #fff; }

.Webinars-header__descr {
  margin-bottom: 20px; }
  @media only screen and (min-width: 1024px) {
    .Webinars-header__descr {
      margin-bottom: 28px; } }
