@import '../../../styles/base/base';

.Webinars-header {
    background: url('../../../assets/pattern-webinars.svg') $base-1 repeat;
    background-size: 400px 400px;
    padding: 90px 0;
    margin-bottom: 45px
}

.Webinars-header__cnt {
    @include margin-x(auto);
    @include padding-x(gutter(1));
    text-align: center;
    color: $white-absolute;

    @media #{$medium-up} {
        max-width: $max-cnt-width / 12 * 6;
    }
}

.Webinars-header__ttl {
    @extend %f-webinars-header-ttl;
    margin-bottom: 14px;
    color: $white-absolute;
}

.Webinars-header__descr {
    margin-bottom: 20px;

    @media #{$medium-up} {
        margin-bottom: 28px;
    }
}
