.b-label {
    $label-height: 24px;
    @extend %f-label;
    @include padding-x(7px);
    padding: {
        top: ($label-height - $label-lh) / 2;
        bottom: ($label-height - $label-lh) / 2;
    }
    display: inline-block;
    width: auto;
    color: $white-absolute;
    border-radius: 12px;
    background-color: $base-2;
}
