@import '../../styles/base/base';

.rc-pagination {
    li:not(:last-child) {
        margin-right: 12px;
    }

    li:last-child {
        margin-right: 0;
    }

    .rc-pagination-prev,
    .rc-pagination-next {
        display: none;
    }
}

.rc-pagination-item {
    @include transition(background-color);
    $size: 34px;
    @include size($size);
    font-size: 16px;
    line-height: $size;
    background-color: $gray-3;
    border-radius: 0;
    border: none;
    outline: none;

    &:active {
        background: $base-4;
        a {
            color: $white-absolute;
        }
    }

    @media(hover: hover) {
        &:hover {
            background-color: $gray-4;
            a {
                color: $base-3;
            }
        }
    }

    &.rc-pagination-item-active {
        background-color: $base-3;
        border-color: $base-3;
        a {
            color: $white-absolute;
        }
    }

    a {
        @include transition(color);
        color: $base-3;
    }
}
