.rc-pagination li:not(:last-child) {
  margin-right: 12px; }

.rc-pagination li:last-child {
  margin-right: 0; }

.rc-pagination .rc-pagination-prev,
.rc-pagination .rc-pagination-next {
  display: none; }

.rc-pagination-item {
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  width: 34px;
  height: 34px;
  font-size: 16px;
  line-height: 34px;
  background-color: #f3f3f3;
  border-radius: 0;
  border: none;
  outline: none; }
  .rc-pagination-item:active {
    background: #0071bc; }
    .rc-pagination-item:active a {
      color: #fff; }
  @media (hover: hover) {
    .rc-pagination-item:hover {
      background-color: #dee3e5; }
      .rc-pagination-item:hover a {
        color: #2b94e1; } }
  .rc-pagination-item.rc-pagination-item-active {
    background-color: #2b94e1;
    border-color: #2b94e1; }
    .rc-pagination-item.rc-pagination-item-active a {
      color: #fff; }
  .rc-pagination-item a {
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    color: #2b94e1; }
