@import '../../styles/base/base';

.Webinars__list {
    @include margin-x(auto);
    max-width: $max-cnt-width;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;

    @media #{$medium-up} {
        margin-bottom: 60px;
    }
}

.Webinars__modal {
    @include size(100%);
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(black, .8);
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.Webinars__modal-cnt {
    flex: 1 0 auto;
    margin: auto;
}
