.Webinars__list {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 30px; }
  @media only screen and (min-width: 1024px) {
    .Webinars__list {
      margin-bottom: 60px; } }

.Webinars__modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center; }

.Webinars__modal-cnt {
  flex: 1 0 auto;
  margin: auto; }
