.Webinar_state_promo {
    display: flex;
    flex-flow: row nowrap;

    @media #{$small-up} {
        flex-basis: 100%;
    }

    @media #{$medium-up} {
        flex-basis: calc(100% / 3 * 2);
    }
}

.Webinar__wrapper_state_promo {
    position: relative;
    z-index: z('default');
    overflow: hidden;
    flex: 1 1 100%;
    border-radius: 5px;

    &:after {
        @include size(100%);
        content: '';
        position: absolute;
        z-index: z('default');
        top: 0;
        left: 0;
        background-image: linear-gradient(to bottom, rgba(61, 60, 59, 0.1), rgba(61, 60, 59, 0.5) 54%, rgba(61, 60, 59, 0.8));
    }

    img {
        @include pos-align-transform();
        z-index: z('zero');
        display: block;
        min-width: 100%;
    }
}

.Webinar__ttl_color_white {
    color: $white-absolute;
}

.Webinar__descr_color_gray-4 {
    color: $gray-4;
}
