.Webinar__ttl {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33; }

.Webinar {
  padding-right: 20px;
  padding-left: 20px;
  flex: 0 1 100%;
  margin-bottom: 20px; }
  @media only screen and (min-width: 640px) {
    .Webinar {
      flex-basis: calc(100% / 2); } }
  @media only screen and (min-width: 1024px) {
    .Webinar {
      flex-basis: calc(100% / 3);
      margin-bottom: 40px; } }

.Webinar__wrapper {
  background-color: #fff;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  display: block; }

.Webinar__header {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 160px;
  border-radius: 5px 5px 0 0;
  background-color: #eee; }
  .Webinar__header img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    min-width: 100%; }

.Webinar__cnt {
  padding-right: 24px;
  padding-left: 24px;
  border-radius: 0 0 5px 5px;
  padding-top: 16px;
  padding-bottom: 28px;
  display: flex;
  flex-flow: column wrap;
  min-height: 264px; }

.Webinar__promo-cnt {
  padding-right: 24px;
  padding-left: 24px;
  position: absolute;
  z-index: 2;
  bottom: 28px;
  left: 0; }
  @media only screen and (min-width: 1024px) {
    .Webinar__promo-cnt {
      max-width: 90%; } }

.Webinar__ttl {
  margin-bottom: 16px;
  color: #000; }

.Webinar__descr {
  color: #333;
  opacity: .6;
  margin-bottom: 12px; }

.Webinar__category-lbl {
  margin-top: auto; }

.Webinars__pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 60px; }
  @media only screen and (min-width: 1024px) {
    .Webinars__pagination {
      margin-bottom: 120px; } }

.Webinar_state_promo {
  display: flex;
  flex-flow: row nowrap; }
  @media only screen and (min-width: 640px) {
    .Webinar_state_promo {
      flex-basis: 100%; } }
  @media only screen and (min-width: 1024px) {
    .Webinar_state_promo {
      flex-basis: calc(100% / 3 * 2); } }

.Webinar__wrapper_state_promo {
  position: relative;
  z-index: 1;
  overflow: hidden;
  flex: 1 1 100%;
  border-radius: 5px; }
  .Webinar__wrapper_state_promo:after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(61, 60, 59, 0.1), rgba(61, 60, 59, 0.5) 54%, rgba(61, 60, 59, 0.8)); }
  .Webinar__wrapper_state_promo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    z-index: 0;
    display: block;
    min-width: 100%; }

.Webinar__ttl_color_white {
  color: #fff; }

.Webinar__descr_color_gray-4 {
  color: #dee3e5; }
