@import '../../styles/base/base';

.Webinar {
    @include padding-x(gutter(1));
    flex: 0 1 100%;
    margin-bottom: 20px;

    @media #{$small-up} {
        flex-basis: calc(100% / 2); // 40px / 2 padding between
    }

    @media #{$medium-up} {
        flex-basis: calc(100% / 3);
        margin-bottom: 40px;
    }
}

.Webinar__wrapper {
    background-color: $white-absolute;
    box-shadow: 0 2px 15px 0 rgba($black-absolute, .1);
    display: block;
}

.Webinar__header {
    position: relative;
    z-index: z('default');
    overflow: hidden;
    height: 160px;
    border-radius: 5px 5px 0 0;
    background-color: $gray-2;

    img {
        @include pos-align-transform();
        min-width: 100%;
    }
}

.Webinar__cnt {
    @include padding-x(24px);
    border-radius: 0 0 5px 5px;
    padding: {
        top: 16px;
        bottom: 28px;
    };

    display: flex;
    flex-flow: column wrap;
    min-height: 264px;
}

.Webinar__promo-cnt {
    @include padding-x(24px);
    position: absolute;
    z-index: z('absolute');
    bottom: 28px;
    left: 0;

    @media #{$medium-up} {
        max-width: 90%;
    }
}

.Webinar__ttl {
    @extend %f-webinar-ttl;
    margin-bottom: 16px;
    color: $black-absolute;
}

.Webinar__descr {
    color: $gray-1;
    opacity: .6;
    margin-bottom: 12px;
}

.Webinar__category-lbl {
    margin-top: auto;
}

.Webinars__pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

    @media #{$medium-up} {
        margin-bottom: 120px;
    }
}

// state
@import './Webinar.state';
