.b-input {
    @extend %f-new-webinar-lbl;
    @include transition(border-color, box-shadow);
    padding: 11px 13px;
    background-color: $white-absolute;
    box-shadow: 0 0 0 0 rgba(43, 148, 225, 0.3);
    border: solid 1px $gray-6;
    color: $gray-1;
    border-radius: 5px;
    width: 100%;

    &:focus {
        box-shadow: 0 0 0 5px rgba($base-3, .3);
        border-color: $base-3;
    }

    &::placeholder {
        color: $gray-5;
    }
}

// state
.b-input_height_80 {
    height: 80px;
}
