@import '../../styles/base/base';

.New-webinar {
    @include margin-x(auto);
    @include padding-x(20px);
    padding: {
        top: 16px;
        bottom: 20px;
    };
    display: block;
    max-width: 400px;
    background-color: $white-absolute;
    border-radius: 6px;
    box-shadow: 0 3px 8px 0 rgba($black-absolute, .2);
    position: relative;
    z-index: z('default');

    @media #{$medium-up} {
        @include padding-x(40px);
        padding: {
            top: 32px;
            bottom: 40px;
        };
    }
}

.New-webinar__close {
    @include unstyled-button();
    @include size(40px);
    position: absolute;
    z-index: z('absolute');
    top: 0;
    right: 0;
    cursor: pointer;

    img {
        @include pos-align-transform();
        @include size(22px);
        display: block;
    }
}

.New-webinar__ttl {
    @extend %f-new-webinar-ttl;
    margin-bottom: 32px;
}

.New-webinar__upload {
    height: 150px;
    border-radius: 5px;
    background-color: $base-5;
    border: solid 1px $base-6;
    margin-bottom: 25px;
    overflow: hidden;
}

.New-webinar__row {
    margin-bottom: 24px;
}

.New-webinar__lbl {
    @extend %f-new-webinar-lbl;
    display: block;
    color: $gray-1;
    margin-bottom: 8px;
}

.New-webinar__submit {
    text-align: center;
}

.New-webinar__upload-info {
    @include padding-x(10px);
    @include size(100%);
    text-align: center;
    position: absolute;
    z-index: z('default');
    top: 0;
    left: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.New-webinar__upload-ico {
    $size: 42px;
    @include size($size);
    position: relative;
    z-index: z('default');
    margin-bottom: 24px;

    &:before,
    &:after {
        content: '';
        position: absolute;
        display: block;
    }

    &:before {
        z-index: z('default');
        bottom: 0;
        left: 0;
        border-radius: 5px;
        width: 24px;
        height: 34px;
        border: 1px dashed $base-3;
    }

    &:after {
        z-index: z('absolute');
        top: 0;
        right: 0;
        width: 26px;
        height: 34px;
        background: url('../../assets/file.svg') $base-5 no-repeat 50% 50%;
        border: 1px solid $base-5;
        background-size: cover;
    }
}

.New-webinar__upload-text {
    @extend %f-new-webinar-upload-text;
    color: $base-3;
}

.New-webinar__upload-cnt {
    @include size(100%);
    position: absolute;
    z-index: z('absolute');
    top: 0;
    left: 0;
}

.New-webinar__upload-basket {
    $size: 34px;
    @include unstyled-button();
    @include size($size);
    @include transition(background-color);
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: z('absolute');
    border-radius: 4px;
    opacity: 0.8;
    background-color: $black-absolute;

    @media(hover: hover) {
        &:hover {
            background-color: $base-8;
        }
    }

    &:active {
        background-color: $base-9;
    }
    &:before {
        @include pos-align-transform();
        content: '';
        display: block;
        width: 18px;
        height: 20px;
        position: absolute;
        z-index: z('default');
        background: url('../../assets/basket.svg') no-repeat 50% 50%;
        background-size: cover;
    }
}

.New-webinar__upload-img {
    @include pos-align-transform();
    min-width: 100%;
}


// state
.New-webinar__row_mb_32 {
    margin-bottom: 32px;
}
