.New-webinar__ttl {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.1875; }
  @media only screen and (min-width: 1024px) {
    .New-webinar__ttl {
      font-size: 32px; } }

.New-webinar__lbl {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.38; }

.New-webinar__upload-text {
  font-size: 14px;
  line-height: 16px; }

.New-webinar {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 20px;
  display: block;
  max-width: 400px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1; }
  @media only screen and (min-width: 1024px) {
    .New-webinar {
      padding-right: 40px;
      padding-left: 40px;
      padding-top: 32px;
      padding-bottom: 40px; } }

.New-webinar__close {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  cursor: pointer; }
  .New-webinar__close:hover, .New-webinar__close:active {
    border: none;
    outline: none; }
  .New-webinar__close img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 22px;
    height: 22px;
    display: block; }

.New-webinar__ttl {
  margin-bottom: 32px; }

.New-webinar__upload {
  height: 150px;
  border-radius: 5px;
  background-color: #e4ecf1;
  border: solid 1px #dee3e5;
  margin-bottom: 25px;
  overflow: hidden; }

.New-webinar__row {
  margin-bottom: 24px; }

.New-webinar__lbl {
  display: block;
  color: #333;
  margin-bottom: 8px; }

.New-webinar__submit {
  text-align: center; }

.New-webinar__upload-info {
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.New-webinar__upload-ico {
  width: 42px;
  height: 42px;
  position: relative;
  z-index: 1;
  margin-bottom: 24px; }
  .New-webinar__upload-ico:before, .New-webinar__upload-ico:after {
    content: '';
    position: absolute;
    display: block; }
  .New-webinar__upload-ico:before {
    z-index: 1;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    width: 24px;
    height: 34px;
    border: 1px dashed #2b94e1; }
  .New-webinar__upload-ico:after {
    z-index: 2;
    top: 0;
    right: 0;
    width: 26px;
    height: 34px;
    background: url("../../assets/file.svg") #e4ecf1 no-repeat 50% 50%;
    border: 1px solid #e4ecf1;
    background-size: cover; }

.New-webinar__upload-text {
  color: #2b94e1; }

.New-webinar__upload-cnt {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0; }

.New-webinar__upload-basket {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  width: 34px;
  height: 34px;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 2;
  border-radius: 4px;
  opacity: 0.8;
  background-color: #000; }
  .New-webinar__upload-basket:hover, .New-webinar__upload-basket:active {
    border: none;
    outline: none; }
  @media (hover: hover) {
    .New-webinar__upload-basket:hover {
      background-color: #ed2d2d; } }
  .New-webinar__upload-basket:active {
    background-color: #d00000; }
  .New-webinar__upload-basket:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    content: '';
    display: block;
    width: 18px;
    height: 20px;
    position: absolute;
    z-index: 1;
    background: url("../../assets/basket.svg") no-repeat 50% 50%;
    background-size: cover; }

.New-webinar__upload-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  min-width: 100%; }

.New-webinar__row_mb_32 {
  margin-bottom: 32px; }
