$btn-height: 42px;
$btn-rad: 5px;

.b-btn {
    @include unstyled-button();
    @extend %f-btn;
    @include padding-x(20px);
    @include transition(background-color);
    border-radius: $btn-rad;
    display: inline-block;
    text-align: center;
    width: 100%;
    color: $gray-1;
    padding: {
        top: ($btn-height - $btn-lh) / 2;
        bottom: ($btn-height - $btn-lh) / 2;
    }
    background: $white-absolute;
    outline: none;
    cursor: pointer;

    &:active {
        background-color: $gray-2;
        box-shadow: inset 0 2px 0 0 rgba($black-absolute, .3);
    }

    @media(hover: hover) {
        &:hover {
            background-color: $gray-2;
        }
    }
}

// state
@import './btn.state';
