.b-btn_width_auto {
    width: auto;
}

.b-btn_theme_webinar-submit {
    @include transition(box-shadow, background-color);
    color: $white-absolute;
    background-color: $base-2;
    box-shadow: inset 0 0 0 0 rgba($black-absolute, .3);

    @media(hover: hover) {
        &:hover {
            background-color: $base-7;
        }
    }

    &:active {
        background-color: #1d9c00;
        box-shadow: inset 0 2px 0 0 rgba($black-absolute, .3);
    }
}
