@import './styles/reset';
@import 'styles/base/base';
@import './styles/global';

// blocks
@import './styles/blocks/btn/btn';
@import './styles/blocks/label/label';
@import './styles/blocks/input/input';

.App-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: $black-1;
}

.App-header__logo {
    width: 166px;
    height: 17px;
}
