*,
*:after,
*:before {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

label {
  user-select: none;
  cursor: pointer; }

img {
  border: none;
  outline: none;
  max-width: 100%; }

a {
  outline: none; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

input {
  outline: none; }
  input[type="text"], input[type="password"], input[type="tel"], input[type="email"], input[type="search"], input[type="url"] {
    box-shadow: none;
    appearance: none;
    padding-left: gutter()/2;
    padding-right: gutter()/2; }
  input[type="submit"] {
    appearance: none; }

button {
  border: none;
  background: none;
  box-shadow: none; }

textarea {
  box-shadow: none;
  appearance: none;
  font-style: normal;
  resize: none;
  overflow-y: auto;
  padding-left: gutter()/2;
  padding-right: gutter()/2; }

a {
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  text-decoration: none;
  outline: none; }
  @media (hover: hover) {
    a:hover {
      text-decoration: none; } }
  a:active, a:focus {
    text-decoration: none;
    outline: none; }
  a[href^="tel"] {
    cursor: default;
    text-decoration: none;
    color: inherit; }
    a[href^="tel"]:hover, a[href^="tel"]:active {
      text-decoration: none;
      color: inherit; }
  a[href^='http'], a[href^='www'], a[href^='mailto:'] {
    word-break: break-all; }

body {
  font-size: 16px;
  line-height: 24px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400; }

.b-btn {
  line-height: 20px;
  font-size: 16px; }

.b-label {
  font-size: 14px;
  line-height: 14px; }

.b-input {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.38; }

body {
  text-size-adjust: 100%;
  width: 100%;
  background-color: #fff; }

.b-btn {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  padding-right: 20px;
  padding-left: 20px;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: #333;
  padding-top: 11px;
  padding-bottom: 11px;
  background: #fff;
  outline: none;
  cursor: pointer; }
  .b-btn:hover, .b-btn:active {
    border: none;
    outline: none; }
  .b-btn:active {
    background-color: #eee;
    box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.3); }
  @media (hover: hover) {
    .b-btn:hover {
      background-color: #eee; } }

.b-btn_width_auto {
  width: auto; }

.b-btn_theme_webinar-submit {
  transition-property: box-shadow, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  color: #fff;
  background-color: #4fae33;
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.3); }
  @media (hover: hover) {
    .b-btn_theme_webinar-submit:hover {
      background-color: #1d9c00; } }
  .b-btn_theme_webinar-submit:active {
    background-color: #1d9c00;
    box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.3); }

.b-label {
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  width: auto;
  color: #fff;
  border-radius: 12px;
  background-color: #4fae33; }

.b-input {
  transition-property: border-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  padding: 11px 13px;
  background-color: #fff;
  box-shadow: 0 0 0 0 rgba(43, 148, 225, 0.3);
  border: solid 1px #a6b0b3;
  color: #333;
  border-radius: 5px;
  width: 100%; }
  .b-input:focus {
    box-shadow: 0 0 0 5px rgba(43, 148, 225, 0.3);
    border-color: #2b94e1; }
  .b-input::placeholder {
    color: #aaa; }

.b-input_height_80 {
  height: 80px; }

.App-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #2a2e32; }

.App-header__logo {
  width: 166px;
  height: 17px; }
