$small-375-screen: 375px;
$small-screen: 640px;
$medium-screen: 1024px;
$big-screen: 1200px;
$large-screen: 1440px;
$limit-screen: 1220px;

// custom break's
$desktop-screen: 1025px;

$screen: 'only screen';
$screen-only: '#{$screen} and (max-width:#{$small-screen - 1})';

$small-375-up: '#{$screen} and (min-width:#{$small-375-screen})';
$small-375-down: '#{$screen} and (max-width:#{$small-375-screen - 1})';

$small-up: '#{$screen} and (min-width:#{$small-screen})';
$small-only: '#{$screen} and (min-width:#{$small-screen}) and (max-width:#{$medium-screen - 1})';
$small-down: '#{$screen} and (max-width:#{$small-screen - 1})';

$medium-up: '#{$screen} and (min-width:#{$medium-screen})';
$medium-only: '#{$screen} and (min-width:#{$medium-screen}) and (max-width:#{$big-screen - 1})';
$medium-down: '#{$screen} and (max-width:#{$medium-screen - 1})';

$big-up: '#{$screen} and (min-width:#{$big-screen})';
$limit-down: '#{$screen} and (max-width:#{$limit-screen - 1})';
$large-up: '#{$screen} and (min-width:#{$large-screen})';

$desktop-up: '#{$screen} and (min-width:#{$desktop-screen})';
$desktop-down: '#{$screen} and (max-width:#{$desktop-screen - 1})';

$screen-height-768-down: '#{$screen} and (max-height:768px) and (min-width:#{$medium-screen})';
