// Describes fonts styles
$font: 'Ubuntu', sans-serif;
$btn-lh: 20px;
$label-lh: 14px;

// default link
%link {
    @include transition(color);
    text-decoration: none;
    outline: none;

    @media(hover: hover) {
        &:hover {
            text-decoration: none;
        }
    }

    &:active,
    &:focus {
        text-decoration: none;
        outline: none;
    }

    &[href^="tel"] {
        cursor: default;
        text-decoration: none;
        color: inherit;

        &:hover,
        &:active {
            text-decoration: none;
            color: inherit;
        }
    }

    &[href^='http'],
    &[href^='www'],
    &[href^='mailto:'] {
        word-break: break-all;
    }
}

// fonts
%f-text {
    font-size: 16px;
    line-height: 24px;
    font-family: $font;
    font-weight: 400;
}

%f-btn {
    line-height: $btn-lh;
    font-size: 16px;
}

%f-webinars-header-ttl {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;

    @media #{$medium-up} {
        font-size: 48px;
    }
}

%f-webinar-ttl {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33;
}

%f-label {
    font-size: 14px;
    line-height: $label-lh;
}

%f-new-webinar-ttl {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.1875; // 38px height in one line

    @media #{$medium-up} {
        font-size: 32px;
    }
}

%f-new-webinar-lbl {
    font-family: $font;
    font-size: 16px;
    line-height: 1.38;
}

%f-new-webinar-upload-text {
    font-size: 14px;
    line-height: 16px;
}
