// GRID
// -----------------------------------
$columns: 12;
$gutter-width: 40px;
$column-width: 60px;

// transitions
$gl-trs-duration: .3s; // equal to animationDuration const
$gl-trs-function: ease-in;

// COlORS
// Default colors
$black-absolute: #000;
$white-absolute: #fff; // main bg color
$gray-1: #333; // btn color
$gray-2: #eee; // btn:hover color
$gray-3: #f3f3f3; // rc-pagination bg
$gray-4: #dee3e5; // rc-pagination bg:hover
$gray-5: #aaa; // b-input placeholder
$gray-6: #a6b0b3; // b-input bd color
$black-1: #2a2e32; // header bg
$black-2: #424242; // new-webinar-ttl color
$base-1: #3e8856; // webinars header bg
$base-2: #4fae33; // b-label bg
$base-3: #2b94e1; // rc-pagination color, bg:active, on hover
$base-4: #0071bc; // rc-pagination color on active
$base-5: #e4ecf1; // New-webinar__upload bg color
$base-6: #dee3e5; // New-webinar__upload border color
$base-7: #1d9c00; // b-btn_theme_webinar-submit:hover
$base-8: #ed2d2d; // New-webinar__upload-basket:hover
$base-9: #d00000; // New-webinar__upload-basket:active


// Z-INDEX MANAGEMENT
// -----------------------------------
$z-layers: (
        'hide': -1,
        'zero': 0,
        'default': 1,
        'absolute': 2,
);

// content vars
$max-cnt-width: 1200px;
